<header><nav>
    <ul id="unordered">
     
        <li><a href="{% url 'home' %}" class="btn btn-outline-dark" style="border: none;">Home</a></li>
        <li><a href="{% url 'add_emp' %}" class="btn btn-outline-dark" style="border: none;">Add Employee</a></li>
        <li><a href="{% url 'detail' %}" class="btn btn-outline-dark" style="border: none;">Details</a></li>
        <li><a href="{% url 'leave' %}" class="btn btn-outline-dark" style="border: none;">Leaves</a></li>
        
        <li><input type="search" name="" id="q" style="width: 60px;border: none;"></li>
    </ul>
</nav>
</header>
